<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testng Cucumber Suite" parallel="methods" thread-count="10">

    <test name="Run All Tests"  parallel="methods" thread-count="10">
        <classes>
            <class name="runners.CucumberRunner"/>
        </classes>
    </test>
</suite>
